body {
background-image: url(background.jpg);
}
#container {
background-color: white;
width: 700px;
height: 2450px;
margin: 0 0 0 275px;
}
h1 {
background-image: url(heading.jpg);
padding: 150px 0 0 10px;
font-size: 2em;
color: #000;
font-family: papyrus;
margin: 0 10px 0 10px;
}
#subhead {
width: 680px;
height: 35px;
margin: 0 10px 0 10px;
background-color: #222;
}
h2.subhead1 {
float: left;
font-size: 0.7em;
padding: 0 5px 0 312px;
color: #AAA;
font-family: georgia;
}
.subhead1:hover {color:#339933}
h2.subhead2 {
float: left;
font-size: 0.7em;
padding: 0 5px 0 5px;
color: #AAA;
font-family: georgia;
}
h2.subheadc {
float: left;
font-size: 0.7em;
padding: 0 5px 0 5px;
color: #F00;
font-family: georgia;
}
h2:hover {color:#339933}
.head {
font-size: 1.7em;
color: #339;
text-align: center;
margin: 20px 0 0 0; 
}
.office {
float: left;
margin: 5px 10px 5px 20px;
border: solid;
border-width: 0.1em;
}
#content p.text1 {
margin: 0 20px 10px 20px;
text-align: center;
font-family: arial;
font-size: 1em;
}
#content p.text2 {
margin: 0 20px 10px 20px;
text-align: justify;
font-family: arial;
font-size: 1em;
}
.pages {
float: left;
margin: 20px 0 30px 0;
width: 230px;
height: 175px;
}
.pages2 {
float: left;
margin: 0 0 10px 0;
width: 350px;
height: 250px;
}
.column {
width: 350px;
height: 430px;
margin: 0 0 0 0;
float: left;
}
#footer {
margin: 450px 10px 0 10px;
width: 680px;
height: 30px;
background-color: #222;
}
#footer p {
float: left;
margin: 5px 450px 10px 20px;
font-family: georgia;
font-size: 0.9em;
color: #F00;
}
.foot {
float: left;
margin: 5px 5px 5px 5px;
width: 20px;
height: 20px;
}